version: 2.0
jobs:
build_gcc_latest:
docker:
- image: gcc:latest
steps:
- checkout
- run: mkdir -p build && cd build
- run: g++ -o main main.cpp -std=c++17
- run: ./main

workflows:
version: 2
build:
jobs:
- build_gcc_latest
